<ion-tabs selectedIndex="2" >
    <ion-tab *ngIf="session!=undefined" [root]="tab3Root" tabTitle="Contact" tabIcon="ios-chatbubbles-outline"></ion-tab>

  <ion-tab *ngIf="session==undefined" [root]="tab5Root"  tabTitle="Login" tabIcon="key"></ion-tab>

      <ion-tab *ngIf="session==undefined" [root]="tab4Root" tabTitle="Inscription" tabIcon="ios-contact"></ion-tab>

  

  <ion-tab *ngIf="session!=undefined" [root]="tab7Root" tabTitle="Profil" tabIcon="body"></ion-tab>

  <ion-tab *ngIf="session!=undefined" [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab *ngIf="session!=undefined" [root]="tab8Root" tabTitle="Logout" tabIcon="lock"></ion-tab>


</ion-tabs>
