UserProfil-page{
.images{
    background-image: url('../assets/imgs/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} 
#l{
    color: white;
}
#l2{
    color: #ADD8E6;
}}